In [442]:
import pandas as pd

df_pln_fr = pd.read_csv('FR_2032024.csv',sep=';')
df_plot_fr = pd.read_csv('FR_plot_2032024.csv',sep=';')

In [443]:
df_pln_fr.head()

,SYST_TRAJ_ID,FLPL_CALL_SIGN,FLPL_NUMB,FLPL_AIRC_TYPE,REQS_FLGT_LEVL,FLPL_DEPR_AIRP,FLPL_ARRV_AIRP,TRANSIT,MODES_ADRESS,FILE_DATE
0,202403220000484,SRN1996,643623.0,AT73,NaN,EDDK,LFSB,NaN,4769251.0,20240322
1,202403220000915,AAL754,659932.0,B788,NaN,KPHL,LFPG,NaN,11276406.0,20240322
2,202403220001256,ACA832,659408.0,A333,NaN,CYUL,EBBR,NaN,12607776.0,20240322
3,202403220001727,WUK5MR,632062.0,A21N,NaN,EGGW,LZKZ,NaN,4226396.0,20240322
4,202403220002786,EWG61WH,630759.0,A21N,NaN,EDDL,HEGN,NaN,3953827.0,20240322

In [444]:
df_plot_fr.head()

,SYST_TRAJ_ID,SYST_POINT_ID,TIME,LATITUDE,LONGITUDE,ALTITUDE_FT,NUMR_INSTR,GRND_SPD_KT,VERT_SPD_FTMN,COUR_DEGR,TARG_COUR_DEGR,SLOPE_DEGR,CFL,FILE_DATE
0,202403220001550,1,22714.5,44.613610,10.500239,5300.0,NaN,114.4438,0.0,172.9392,NaN,NaN,NaN,20240322
1,202403220001550,2,22718.5,44.611504,10.500606,5300.0,NaN,111.6253,0.0,177.4821,NaN,NaN,NaN,20240322
2,202403220001550,3,22722.5,44.609440,10.500733,5300.0,NaN,113.4233,0.0,175.3073,NaN,NaN,NaN,20240322
3,202403220001550,4,22726.5,44.607346,10.500975,5300.0,NaN,112.9860,0.0,175.2965,NaN,NaN,NaN,20240322
4,202403220001550,5,22730.5,44.605263,10.501216,5300.0,NaN,113.9093,0.0,174.3972,NaN,NaN,NaN,20240322

In [445]:
df_pln_fr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27567 entries, 0 to 27566
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SYST_TRAJ_ID    27567 non-null  int64
 1   FLPL_CALL_SIGN  27567 non-null  object
 2   FLPL_NUMB       15545 non-null  float64
 3   FLPL_AIRC_TYPE  15356 non-null  object
 4   REQS_FLGT_LEVL  0 non-null      float64
 5   FLPL_DEPR_AIRP  15403 non-null  object
 6   FLPL_ARRV_AIRP  15403 non-null  object
 7   TRANSIT         0 non-null      float64
 8   MODES_ADRESS    25051 non-null  float64
 9   FILE_DATE       27567 non-null  int64
dtypes: float64(4), int64(2), object(4)
memory usage: 2.1+ MB

In [446]:

# 1. Définir les limites de l'espace aérien algérien
latitude_min =  38.95
latitude_max =  39.06 
longitude_min = 4.66919 
longitude_max = 8.00354  

# ... (defining latitude and longitude variables and a_traverse_algerie function)
# Create a boolean Series indicating which SYST_TRAJ_IDs in df_plot_fr are within the specified bounds
is_in_algeria = (df_plot_fr['LATITUDE'] >= latitude_min) & (df_plot_fr['LATITUDE'] <= latitude_max) & (df_plot_fr['LONGITUDE'] >= longitude_min) & (df_plot_fr['LONGITUDE'] <= longitude_max)

# Find the unique SYST_TRAJ_IDs in df_plot_fr that are in Algeria
algeria_syst_traj_ids = df_plot_fr.loc[is_in_algeria, 'SYST_TRAJ_ID'].unique()

# Add 'frontiere_algerienne2' column to df_pln_fr, True if SYST_TRAJ_ID is in algeria_syst_traj_ids, False otherwise
df_pln_fr['frontiere_algerienne'] = df_pln_fr['SYST_TRAJ_ID'].isin(algeria_syst_traj_ids)

In [447]:
df_alg = df_pln_fr[
    (df_pln_fr['frontiere_algerienne']) 
]

In [448]:
df_alg[df_alg['FLPL_CALL_SIGN']=='DAH1426']

,SYST_TRAJ_ID,FLPL_CALL_SIGN,FLPL_NUMB,FLPL_AIRC_TYPE,REQS_FLGT_LEVL,FLPL_DEPR_AIRP,FLPL_ARRV_AIRP,TRANSIT,MODES_ADRESS,FILE_DATE,frontiere_algerienne
15051,202403220002949,DAH1426,640582.0,B738,NaN,DABC,LFML,NaN,655502.0,20240322,True

In [449]:
df_plot_fr

,SYST_TRAJ_ID,SYST_POINT_ID,TIME,LATITUDE,LONGITUDE,ALTITUDE_FT,NUMR_INSTR,GRND_SPD_KT,VERT_SPD_FTMN,COUR_DEGR,TARG_COUR_DEGR,SLOPE_DEGR,CFL,FILE_DATE
0,202403220001550,1,22714.500,44.613610,10.500239,5300.0,NaN,114.4438,0.0,172.9392,NaN,NaN,NaN,20240322
1,202403220001550,2,22718.500,44.611504,10.500606,5300.0,NaN,111.6253,0.0,177.4821,NaN,NaN,NaN,20240322
2,202403220001550,3,22722.500,44.609440,10.500733,5300.0,NaN,113.4233,0.0,175.3073,NaN,NaN,NaN,20240322
3,202403220001550,4,22726.500,44.607346,10.500975,5300.0,NaN,112.9860,0.0,175.2965,NaN,NaN,NaN,20240322
4,202403220001550,5,22730.500,44.605263,10.501216,5300.0,NaN,113.9093,0.0,174.3972,NaN,NaN,NaN,20240322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17378853,202403220000108,13,28693.594,43.763480,4.419543,NaN,NaN,7.0704,NaN,158.1037,NaN,NaN,NaN,20240322
17378854,202403220000108,14,28697.195,43.763374,4.419604,NaN,NaN,8.9054,NaN,139.1522,NaN,NaN,NaN,20240322
17378855,202403220000108,15,28700.797,43.763260,4.419738,NaN,NaN,10.0928,NaN,201.5014,NaN,NaN,NaN,20240322
17378856,202403220000108,16,28704.398,43.763103,4.419653,NaN,NaN,15.9758,NaN,93.1499,NaN,NaN,NaN,20240322
17378857,202403220000108,17,28708.000,43.763090,4.420020,NaN,NaN,15.9758,NaN,93.1499,NaN,NaN,NaN,20240322

In [450]:
print(df_alg[['FLPL_CALL_SIGN', 'frontiere_algerienne']].to_markdown(index=False, numalign="left", stralign="left"))

| FLPL_CALL_SIGN   | frontiere_algerienne   |
|:-----------------|:-----------------------|
| NOS4455          | True                   |
| BAW57K           | True                   |
| BAW83            | True                   |
| TVF8098          | True                   |
| BEL39G           | True                   |
| BEL3DY           | True                   |
| DLH568           | True                   |
| TVF63YU          | True                   |
| KLM592           | True                   |
| THY5LY           | True                   |
| JML100           | True                   |
| VOE57MN          | True                   |
| DAH1112          | True                   |
| DAH1146          | True                   |
| BCS082           | True                   |
| KLM591           | True                   |
| TVF88RA          | True                   |
| OCN132D          | True                   |
| DAH1427          | True                   |
| DAH1181          | True                   |
| OCN132A          | True                   |
| TOM8BM           | True                   |
| KQA101           | True                   |
| RYR9ZU           | True                   |
| DAH1113          | True                   |
| CFG2291          | True                   |
| DLH572           | True                   |
| DAH1145          | True                   |
| BAW2066          | True                   |
| LBT508           | True                   |
| MODES_3407213    | True                   |
| SWR282           | True                   |
| GAF076           | True                   |
| DAH1147          | True                   |
| DLH573           | True                   |
| DAH1180          | True                   |
| TAR719           | True                   |
| VIR450           | True                   |
| VLG7991          | True                   |
| VJH728           | True                   |
| MODES_3407268    | True                   |
| TVF8222          | True                   |
| TOM28A           | True                   |
| KLM104           | True                   |
| DAH1426          | True                   |
| AFR805           | True                   |
| BAW2041          | True                   |
| AFR722           | True                   |
| TOM469           | True                   |
| CFG2288          | True                   |
| RWD700           | True                   |
| BAW43            | True                   |
| SWR283           | True                   |
| OCN143           | True                   |
| BAW74            | True                   |
| RYR9729          | True                   |
| BEL37K           | True                   |
| DLH1317          | True                   |
| TAR634           | True                   |
| TOM529           | True                   |
| TAR635           | True                   |
| KLM119           | True                   |
| DAH1144          | True                   |
| BAW59            | True                   |
| KQA102           | True                   |
| DLH577           | True                   |
| VJT569           | True                   |
| TVF31BA          | True                   |
| TVF8707          | True                   |
| KLM129           | True                   |
| BEL38K           | True                   |
| RRR4618          | True                   |
| DAH1122          | True                   |
| SVW78AM          | True                   |
| TVF7220          | True                   |
| VOE68DL          | True                   |
| ARG1140          | True                   |
| N66ZG            | True                   |
| RYR49LK          | True                   |
| MODES_3407259    | True                   |
| DAH1123          | True                   |
| TVF7221          | True                   |
| OCN142           | True                   |
| BEL23B           | True                   |
| KQA112           | True                   |
| BEL4KE           | True                   |
| KQA100           | True                   |
| VIR478           | True                   |
| BEL4UR           | True                   |
| RWD701           | True                   |

In [451]:
print(df_alg[['FLPL_CALL_SIGN', 'frontiere_algerienne','FLPL_DEPR_AIRP','FLPL_ARRV_AIRP','FLPL_AIRC_TYPE']].to_markdown(index=False, numalign="left", stralign="left"))

| FLPL_CALL_SIGN   | frontiere_algerienne   | FLPL_DEPR_AIRP   | FLPL_ARRV_AIRP   | FLPL_AIRC_TYPE   |
|:-----------------|:-----------------------|:-----------------|:-----------------|:-----------------|
| NOS4455          | True                   | GOBD             | LIPX             | B38M             |
| BAW57K           | True                   | EGLL             | FAOR             | B789             |
| BAW83            | True                   | EGLL             | DNAA             | B772             |
| TVF8098          | True                   | LFPO             | DTTX             | B738             |
| BEL39G           | True                   | EBBR             | FKKD             | A333             |
| BEL3DY           | True                   | FKYS             | EBBR             | A333             |
| DLH568           | True                   | EDDF             | DNMM             | A343             |
| TVF63YU          | True                   | LFPO             | DAUB             | B738             |
| KLM592           | True                   | FAOR             | EHAM             | B772             |
| THY5LY           | True                   | DAAG             | LTFM             | B738             |
| JML100           | True                   | EDLW             | FYWH             | B737             |
| VOE57MN          | True                   | DABC             | LFML             | A320             |
| DAH1112          | True                   | DAAE             | LFPO             | B738             |
| DAH1146          | True                   | DAAV             | LFML             | AT75             |
| BCS082           | True                   | DNMM             | EBBR             | A332             |
| KLM591           | True                   | EHAM             | FAOR             | B77W             |
| TVF88RA          | True                   | LFLL             | DAAE             | B738             |
| OCN132D          | True                   | EDDF             | FYWH             | A333             |
| DAH1427          | True                   | LFML             | DABC             | B738             |
| DAH1181          | True                   | LFQQ             | DABC             | B736             |
| OCN132A          | True                   | EDDF             | FYWH             | A332             |
| TOM8BM           | True                   | DTNH             | EGNT             | B738             |
| KQA101           | True                   | EGLL             | HKJK             | B788             |
| RYR9ZU           | True                   | GCRR             | LIMC             | B738             |
| DAH1113          | True                   | LFPO             | DAAE             | B738             |
| CFG2291          | True                   | FACT             | EDDF             | A339             |
| DLH572           | True                   | EDDF             | FAOR             | B748             |
| DAH1145          | True                   | LFPO             | DABB             | B738             |
| BAW2066          | True                   | DGAA             | EGKK             | B772             |
| LBT508           | True                   | DTTJ             | LFPG             | A320             |
| MODES_3407213    | True                   | nan              | nan              | nan              |
| SWR282           | True                   | LSZH             | FAOR             | B77W             |
| GAF076           | True                   | DAAT             | ETNW             | A400             |
| DAH1147          | True                   | LFML             | DAAV             | AT75             |
| DLH573           | True                   | FAOR             | EDDF             | B748             |
| DAH1180          | True                   | DABC             | LFQQ             | B736             |
| TAR719           | True                   | LFPO             | DTTA             | A320             |
| VIR450           | True                   | FAOR             | EGLL             | B789             |
| VLG7991          | True                   | LFML             | DAAG             | A319             |
| VJH728           | True                   | LFPB             | FOOL             | E35L             |
| MODES_3407268    | True                   | nan              | nan              | nan              |
| TVF8222          | True                   | LFPO             | DTTA             | B738             |
| TOM28A           | True                   | DTNH             | EGKK             | B738             |
| KLM104           | True                   | FACT             | EHAM             | B77W             |
| DAH1426          | True                   | DABC             | LFML             | B738             |
| AFR805           | True                   | DBBB             | LFPG             | A332             |
| BAW2041          | True                   | EGKK             | FACT             | B772             |
| AFR722           | True                   | FCBB             | LFPG             | A359             |
| TOM469           | True                   | DTNH             | EGBB             | B738             |
| CFG2288          | True                   | EDDF             | FAOR             | A339             |
| RWD700           | True                   | HRYR             | LFPG             | A332             |
| BAW43            | True                   | EGLL             | FACT             | B77W             |
| SWR283           | True                   | FAOR             | LSZH             | B77W             |
| OCN143           | True                   | FYWH             | EDDF             | A333             |
| BAW74            | True                   | DNMM             | EGLL             | B78X             |
| RYR9729          | True                   | LIRA             | GMME             | B738             |
| BEL37K           | True                   | EBBR             | FZAA             | A333             |
| DLH1317          | True                   | DAAG             | EDDF             | A319             |
| TAR634           | True                   | DTTJ             | LFPO             | A320             |
| TOM529           | True                   | DTNH             | EGCC             | B738             |
| TAR635           | True                   | LFPO             | DTTJ             | A320             |
| KLM119           | True                   | EHAM             | FACT             | B77W             |
| DAH1144          | True                   | DABB             | LFPO             | B738             |
| BAW59            | True                   | EGLL             | FACT             | A35K             |
| KQA102           | True                   | HKJK             | EGLL             | B788             |
| DLH577           | True                   | FACT             | EDDF             | A343             |
| VJT569           | True                   | DNKN             | LFPB             | CL60             |
| TVF31BA          | True                   | DAUB             | LFPO             | B738             |
| TVF8707          | True                   | DTTJ             | LFPO             | B738             |
| KLM129           | True                   | EHAM             | DNMM             | A332             |
| BEL38K           | True                   | FZAA             | EBBR             | A333             |
| RRR4618          | True                   | EGVN             | LCRA             | A400             |
| DAH1122          | True                   | DABC             | LFPO             | B738             |
| SVW78AM          | True                   | FKKD             | LFRC             | FA7X             |
| TVF7220          | True                   | LFPO             | DAAS             | B738             |
| VOE68DL          | True                   | LFML             | DABC             | A320             |
| ARG1140          | True                   | SAEZ             | LIRF             | A332             |
| N66ZG            | True                   | DNMM             | EGGW             | GLF6             |
| RYR49LK          | True                   | GMMX             | LIRN             | B738             |
| MODES_3407259    | True                   | nan              | nan              | nan              |
| DAH1123          | True                   | LFPO             | DABC             | B738             |
| TVF7221          | True                   | DAAS             | LFPO             | B738             |
| OCN142           | True                   | EDDF             | FYWH             | A333             |
| BEL23B           | True                   | DIAP             | EBBR             | A333             |
| KQA112           | True                   | HKJK             | LFPG             | B788             |
| BEL4KE           | True                   | HUEN             | EBBR             | A333             |
| KQA100           | True                   | HKJK             | EGLL             | B788             |
| VIR478           | True                   | EGLL             | FACT             | B789             |
| BEL4UR           | True                   | EBBR             | HRYR             | A333             |
| RWD701           | True                   | LFPG             | HRYR             | A332             |

In [452]:
eurocontrol = ['EB','ED','EF','EG','EH','EI','EK','EL','EN','EP','ES','EV','EY','LA','LB','LC','LD','LE','LG','LH','LI','LJ','LK','LM','LO','LP','LQ','LR','LS','LT','LU','LW','LY','LZ','UD','UG','GC']

filtered_df = df_pln_fr[
    (df_pln_fr['frontiere_algerienne']) &  # Directly use the boolean Series
    ~df_pln_fr['FLPL_DEPR_AIRP'].astype(str).str[:2].isin(eurocontrol) 
]

In [453]:
eurocontrol = ['EB','ED','EF','EG','EH','EI','EK','EL','EN','EP','ES','EV','EY','LA','LB','LC','LD','LE','LG','LH','LI','LJ','LK','LM','LO','LP','LQ','LR','LS','LT','LU','LW','LY','LZ','UD','UG','GC']

filtered_df2 = df_pln_fr[
    (df_pln_fr['frontiere_algerienne']) &  # Directly use the boolean Series
    ~df_pln_fr['FLPL_DEPR_AIRP'].astype(str).str[:2].isin(eurocontrol) 
]

In [454]:
print(filtered_df2.to_markdown(index=False, numalign="left", stralign="left"))

| SYST_TRAJ_ID    | FLPL_CALL_SIGN   | FLPL_NUMB   | FLPL_AIRC_TYPE   | REQS_FLGT_LEVL   | FLPL_DEPR_AIRP   | FLPL_ARRV_AIRP   | TRANSIT   | MODES_ADRESS   | FILE_DATE   | frontiere_algerienne   |
|:----------------|:-----------------|:------------|:-----------------|:-----------------|:-----------------|:-----------------|:----------|:---------------|:------------|:-----------------------|
| 202403220003389 | NOS4455          | 660370      | B38M             | nan              | GOBD             | LIPX             | nan       | 5.02482e+06    | 20240322    | True                   |
| 202403220002404 | TVF8098          | 632885      | B738             | nan              | LFPO             | DTTX             | nan       | 3.78845e+06    | 20240322    | True                   |
| 202403220000257 | BEL3DY           | 599404      | A333             | nan              | FKYS             | EBBR             | nan       | 4.50887e+06    | 20240322    | True                   |
| 202403220003034 | TVF63YU          | 632317      | B738             | nan              | LFPO             | DAUB             | nan       | 3.78846e+06    | 20240322    | True                   |
| 202403220002007 | KLM592           | 609518      | B772             | nan              | FAOR             | EHAM             | nan       | 4.73585e+06    | 20240322    | True                   |
| 202403220027549 | THY5LY           | 690332      | B738             | nan              | DAAG             | LTFM             | nan       | 4.95893e+06    | 20240322    | True                   |
| 202403220003540 | VOE57MN          | 649467      | A320             | nan              | DABC             | LFML             | nan       | 3.43714e+06    | 20240322    | True                   |
| 202403220002406 | DAH1112          | 633461      | B738             | nan              | DAAE             | LFPO             | nan       | 655501         | 20240322    | True                   |
| 202403220005228 | DAH1146          | 661774      | AT75             | nan              | DAAV             | LFML             | nan       | 655418         | 20240322    | True                   |
| 202403220025151 | BCS082           | 637434      | A332             | nan              | DNMM             | EBBR             | nan       | 3.961e+06      | 20240322    | True                   |
| 202403220022910 | TVF88RA          | 641163      | B738             | nan              | LFLL             | DAAE             | nan       | 3.78957e+06    | 20240322    | True                   |
| 202403220009344 | DAH1427          | 641710      | B738             | nan              | LFML             | DABC             | nan       | 655502         | 20240322    | True                   |
| 202403220009210 | DAH1181          | 663047      | B736             | nan              | LFQQ             | DABC             | nan       | 655400         | 20240322    | True                   |
| 202403220010864 | TOM8BM           | 648480      | B738             | nan              | DTNH             | EGNT             | nan       | 4.22043e+06    | 20240322    | True                   |
| 202403220009739 | DAH1113          | 654408      | B738             | nan              | LFPO             | DAAE             | nan       | 655501         | 20240322    | True                   |
| 202403220000325 | CFG2291          | 609681      | A339             | nan              | FACT             | EDDF             | nan       | 3.96348e+06    | 20240322    | True                   |
| 202403220022944 | DAH1145          | 639117      | B738             | nan              | LFPO             | DABB             | nan       | 655504         | 20240322    | True                   |
| 202403220000272 | BAW2066          | 599950      | B772             | nan              | DGAA             | EGKK             | nan       | 4.19621e+06    | 20240322    | True                   |
| 202403220020184 | LBT508           | 664754      | A320             | nan              | DTTJ             | LFPG             | nan       | 172467         | 20240322    | True                   |
| 202403220010516 | MODES_3407213    | nan         | nan              | nan              | nan              | nan              | nan       | 3.40721e+06    | 20240322    | True                   |
| 202403220017612 | GAF076           | 658530      | A400             | nan              | DAAT             | ETNW             | nan       | 4.10415e+06    | 20240322    | True                   |
| 202403220010242 | DAH1147          | 656635      | AT75             | nan              | LFML             | DAAV             | nan       | 655418         | 20240322    | True                   |
| 202403220000292 | DLH573           | 630091      | B748             | nan              | FAOR             | EDDF             | nan       | 3.9514e+06     | 20240322    | True                   |
| 202403220017778 | DAH1180          | 646927      | B736             | nan              | DABC             | LFQQ             | nan       | 655400         | 20240322    | True                   |
| 202403220010352 | TAR719           | 630441      | A320             | nan              | LFPO             | DTTA             | nan       | 172438         | 20240322    | True                   |
| 202403220000312 | VIR450           | 630734      | B789             | nan              | FAOR             | EGLL             | nan       | 4.22372e+06    | 20240322    | True                   |
| 202403220021860 | VLG7991          | 649393      | A319             | nan              | LFML             | DAAG             | nan       | 3.42887e+06    | 20240322    | True                   |
| 202403220018245 | VJH728           | 652707      | E35L             | nan              | LFPB             | FOOL             | nan       | 3.93524e+06    | 20240322    | True                   |
| 202403220010680 | MODES_3407268    | nan         | nan              | nan              | nan              | nan              | nan       | 3.40727e+06    | 20240322    | True                   |
| 202403220015887 | TVF8222          | 635156      | B738             | nan              | LFPO             | DTTA             | nan       | 3.78847e+06    | 20240322    | True                   |
| 202403220010676 | TOM28A           | 641218      | B738             | nan              | DTNH             | EGKK             | nan       | 4.22545e+06    | 20240322    | True                   |
| 202403220003436 | KLM104           | 609661      | B77W             | nan              | FACT             | EHAM             | nan       | 4.73957e+06    | 20240322    | True                   |
| 202403220002949 | DAH1426          | 640582      | B738             | nan              | DABC             | LFML             | nan       | 655502         | 20240322    | True                   |
| 202403220000409 | AFR805           | 658842      | A332             | nan              | DBBB             | LFPG             | nan       | 3.76123e+06    | 20240322    | True                   |
| 202403220000394 | AFR722           | 658131      | A359             | nan              | FCBB             | LFPG             | nan       | 3.78856e+06    | 20240322    | True                   |
| 202403220010163 | TOM469           | 636658      | B738             | nan              | DTNH             | EGBB             | nan       | 4.22062e+06    | 20240322    | True                   |
| 202403220000668 | RWD700           | 658573      | A332             | nan              | HRYR             | LFPG             | nan       | 450575         | 20240322    | True                   |
| 202403220000460 | SWR283           | 609112      | B77W             | nan              | FAOR             | LSZH             | nan       | 4.92163e+06    | 20240322    | True                   |
| 202403220000270 | OCN143           | 630130      | A333             | nan              | FYWH             | EDDF             | nan       | 3.95812e+06    | 20240322    | True                   |
| 202403220000297 | BAW74            | 617035      | B78X             | nan              | DNMM             | EGLL             | nan       | 4.2254e+06     | 20240322    | True                   |
| 202403220012047 | DLH1317          | 653522      | A319             | nan              | DAAG             | EDDF             | nan       | 3.95815e+06    | 20240322    | True                   |
| 202403220002560 | TAR634           | 632385      | A320             | nan              | DTTJ             | LFPO             | nan       | 172433         | 20240322    | True                   |
| 202403220026513 | TOM529           | 646017      | B738             | nan              | DTNH             | EGCC             | nan       | 4.22043e+06    | 20240322    | True                   |
| 202403220009186 | TAR635           | 632440      | A320             | nan              | LFPO             | DTTJ             | nan       | 172433         | 20240322    | True                   |
| 202403220017141 | DAH1144          | 663257      | B738             | nan              | DABB             | LFPO             | nan       | 655504         | 20240322    | True                   |
| 202403220002280 | KQA102           | 659667      | B788             | nan              | HKJK             | EGLL             | nan       | 311576         | 20240322    | True                   |
| 202403220000293 | DLH577           | 629958      | A343             | nan              | FACT             | EDDF             | nan       | 3.958e+06      | 20240322    | True                   |
| 202403220015003 | VJT569           | 659091      | CL60             | nan              | DNKN             | LFPB             | nan       | 5.05467e+06    | 20240322    | True                   |
| 202403220011657 | TVF31BA          | 638258      | B738             | nan              | DAUB             | LFPO             | nan       | 3.78846e+06    | 20240322    | True                   |
| 202403220007239 | TVF8707          | 632386      | B738             | nan              | DTTJ             | LFPO             | nan       | 3.7614e+06     | 20240322    | True                   |
| 202403220000429 | BEL38K           | 613311      | A333             | nan              | FZAA             | EBBR             | nan       | 4.50887e+06    | 20240322    | True                   |
| 202403220015818 | DAH1122          | 663532      | B738             | nan              | DABC             | LFPO             | nan       | 655502         | 20240322    | True                   |
| 202403220011350 | SVW78AM          | 660468      | FA7X             | nan              | FKKD             | LFRC             | nan       | 5.04681e+06    | 20240322    | True                   |
| 202403220004720 | TVF7220          | 632344      | B738             | nan              | LFPO             | DAAS             | nan       | 3.78959e+06    | 20240322    | True                   |
| 202403220000755 | VOE68DL          | 632666      | A320             | nan              | LFML             | DABC             | nan       | 3.43714e+06    | 20240322    | True                   |
| 202403220014569 | ARG1140          | 660350      | A332             | nan              | SAEZ             | LIRF             | nan       | 1.47093e+07    | 20240322    | True                   |
| 202403220015901 | N66ZG            | 660088      | GLF6             | nan              | DNMM             | EGGW             | nan       | 1.10562e+07    | 20240322    | True                   |
| 202403220023879 | RYR49LK          | 649380      | B738             | nan              | GMMX             | LIRN             | nan       | 5.055e+06      | 20240322    | True                   |
| 202403220010665 | MODES_3407259    | nan         | nan              | nan              | nan              | nan              | nan       | 3.40726e+06    | 20240322    | True                   |
| 202403220021983 | DAH1123          | 656366      | B738             | nan              | LFPO             | DABC             | nan       | 655502         | 20240322    | True                   |
| 202403220012015 | TVF7221          | 632508      | B738             | nan              | DAAS             | LFPO             | nan       | 3.78959e+06    | 20240322    | True                   |
| 202403220000263 | BEL23B           | 617430      | A333             | nan              | DIAP             | EBBR             | nan       | 4.50887e+06    | 20240322    | True                   |
| 202403220000647 | KQA112           | 658419      | B788             | nan              | HKJK             | LFPG             | nan       | 311578         | 20240322    | True                   |
| 202403220000571 | BEL4KE           | 658351      | A333             | nan              | HUEN             | EBBR             | nan       | 4.50887e+06    | 20240322    | True                   |
| 202403220013353 | KQA100           | 653677      | B788             | nan              | HKJK             | EGLL             | nan       | 311642         | 20240322    | True                   |
| 202403220026079 | RWD701           | 667833      | A332             | nan              | LFPG             | HRYR             | nan       | 450575         | 20240322    | True                   |

In [455]:
filtered_df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66 entries, 131 to 27478
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SYST_TRAJ_ID          66 non-null     int64
 1   FLPL_CALL_SIGN        66 non-null     object
 2   FLPL_NUMB             63 non-null     float64
 3   FLPL_AIRC_TYPE        63 non-null     object
 4   REQS_FLGT_LEVL        0 non-null      float64
 5   FLPL_DEPR_AIRP        63 non-null     object
 6   FLPL_ARRV_AIRP        63 non-null     object
 7   TRANSIT               0 non-null      float64
 8   MODES_ADRESS          66 non-null     float64
 9   FILE_DATE             66 non-null     int64
 10  frontiere_algerienne  66 non-null     bool
dtypes: bool(1), float64(4), int64(2), object(4)
memory usage: 5.7+ KB

In [456]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66 entries, 131 to 27478
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SYST_TRAJ_ID          66 non-null     int64
 1   FLPL_CALL_SIGN        66 non-null     object
 2   FLPL_NUMB             63 non-null     float64
 3   FLPL_AIRC_TYPE        63 non-null     object
 4   REQS_FLGT_LEVL        0 non-null      float64
 5   FLPL_DEPR_AIRP        63 non-null     object
 6   FLPL_ARRV_AIRP        63 non-null     object
 7   TRANSIT               0 non-null      float64
 8   MODES_ADRESS          66 non-null     float64
 9   FILE_DATE             66 non-null     int64
 10  frontiere_algerienne  66 non-null     bool
dtypes: bool(1), float64(4), int64(2), object(4)
memory usage: 5.7+ KB

In [457]:
filtered_df

,SYST_TRAJ_ID,FLPL_CALL_SIGN,FLPL_NUMB,FLPL_AIRC_TYPE,REQS_FLGT_LEVL,FLPL_DEPR_AIRP,FLPL_ARRV_AIRP,TRANSIT,MODES_ADRESS,FILE_DATE,frontiere_algerienne
131,202403220003389,NOS4455,660370.0,B38M,NaN,GOBD,LIPX,NaN,5024822.0,20240322,True
831,202403220002404,TVF8098,632885.0,B738,NaN,LFPO,DTTX,NaN,3788452.0,20240322,True
1307,202403220000257,BEL3DY,599404.0,A333,NaN,FKYS,EBBR,NaN,4508868.0,20240322,True
2034,202403220003034,TVF63YU,632317.0,B738,NaN,LFPO,DAUB,NaN,3788459.0,20240322,True
2135,202403220002007,KLM592,609518.0,B772,NaN,FAOR,EHAM,NaN,4735854.0,20240322,True
...,...,...,...,...,...,...,...,...,...,...,...
25340,202403220000263,BEL23B,617430.0,A333,NaN,DIAP,EBBR,NaN,4508872.0,20240322,True
25416,202403220000647,KQA112,658419.0,B788,NaN,HKJK,LFPG,NaN,311578.0,20240322,True
25565,202403220000571,BEL4KE,658351.0,A333,NaN,HUEN,EBBR,NaN,4508870.0,20240322,True
25779,202403220013353,KQA100,653677.0,B788,NaN,HKJK,EGLL,NaN,311642.0,20240322,True
27478,202403220026079,RWD701,667833.0,A332,NaN,LFPG,HRYR,NaN,450575.0,20240322,True

In [458]:
print(filtered_df[['FLPL_CALL_SIGN', 'frontiere_algerienne']].to_markdown(index=False, numalign="left", stralign="left"))

| FLPL_CALL_SIGN   | frontiere_algerienne   |
|:-----------------|:-----------------------|
| NOS4455          | True                   |
| TVF8098          | True                   |
| BEL3DY           | True                   |
| TVF63YU          | True                   |
| KLM592           | True                   |
| THY5LY           | True                   |
| VOE57MN          | True                   |
| DAH1112          | True                   |
| DAH1146          | True                   |
| BCS082           | True                   |
| TVF88RA          | True                   |
| DAH1427          | True                   |
| DAH1181          | True                   |
| TOM8BM           | True                   |
| DAH1113          | True                   |
| CFG2291          | True                   |
| DAH1145          | True                   |
| BAW2066          | True                   |
| LBT508           | True                   |
| MODES_3407213    | True                   |
| GAF076           | True                   |
| DAH1147          | True                   |
| DLH573           | True                   |
| DAH1180          | True                   |
| TAR719           | True                   |
| VIR450           | True                   |
| VLG7991          | True                   |
| VJH728           | True                   |
| MODES_3407268    | True                   |
| TVF8222          | True                   |
| TOM28A           | True                   |
| KLM104           | True                   |
| DAH1426          | True                   |
| AFR805           | True                   |
| AFR722           | True                   |
| TOM469           | True                   |
| RWD700           | True                   |
| SWR283           | True                   |
| OCN143           | True                   |
| BAW74            | True                   |
| DLH1317          | True                   |
| TAR634           | True                   |
| TOM529           | True                   |
| TAR635           | True                   |
| DAH1144          | True                   |
| KQA102           | True                   |
| DLH577           | True                   |
| VJT569           | True                   |
| TVF31BA          | True                   |
| TVF8707          | True                   |
| BEL38K           | True                   |
| DAH1122          | True                   |
| SVW78AM          | True                   |
| TVF7220          | True                   |
| VOE68DL          | True                   |
| ARG1140          | True                   |
| N66ZG            | True                   |
| RYR49LK          | True                   |
| MODES_3407259    | True                   |
| DAH1123          | True                   |
| TVF7221          | True                   |
| BEL23B           | True                   |
| KQA112           | True                   |
| BEL4KE           | True                   |
| KQA100           | True                   |
| RWD701           | True                   |

In [459]:
df_pln_fr[df_pln_fr['frontiere_algerienne'] == True][['FLPL_CALL_SIGN', 'frontiere_algerienne']]

      FLPL_CALL_SIGN  frontiere_algerienne
131          NOS4455                  True
273           BAW57K                  True
392            BAW83                  True
831          TVF8098                  True
1301          BEL39G                  True
...              ...                   ...
25565         BEL4KE                  True
25779         KQA100                  True
26161         VIR478                  True
26397         BEL4UR                  True
27478         RWD701                  True

[90 rows x 2 columns]

In [460]:
print(df_pln_fr[df_pln_fr['frontiere_algerienne'] == True][['FLPL_CALL_SIGN', 'frontiere_algerienne']].to_markdown(index=False, numalign="left", stralign="left"))

| FLPL_CALL_SIGN   | frontiere_algerienne   |
|:-----------------|:-----------------------|
| NOS4455          | True                   |
| BAW57K           | True                   |
| BAW83            | True                   |
| TVF8098          | True                   |
| BEL39G           | True                   |
| BEL3DY           | True                   |
| DLH568           | True                   |
| TVF63YU          | True                   |
| KLM592           | True                   |
| THY5LY           | True                   |
| JML100           | True                   |
| VOE57MN          | True                   |
| DAH1112          | True                   |
| DAH1146          | True                   |
| BCS082           | True                   |
| KLM591           | True                   |
| TVF88RA          | True                   |
| OCN132D          | True                   |
| DAH1427          | True                   |
| DAH1181          | True                   |
| OCN132A          | True                   |
| TOM8BM           | True                   |
| KQA101           | True                   |
| RYR9ZU           | True                   |
| DAH1113          | True                   |
| CFG2291          | True                   |
| DLH572           | True                   |
| DAH1145          | True                   |
| BAW2066          | True                   |
| LBT508           | True                   |
| MODES_3407213    | True                   |
| SWR282           | True                   |
| GAF076           | True                   |
| DAH1147          | True                   |
| DLH573           | True                   |
| DAH1180          | True                   |
| TAR719           | True                   |
| VIR450           | True                   |
| VLG7991          | True                   |
| VJH728           | True                   |
| MODES_3407268    | True                   |
| TVF8222          | True                   |
| TOM28A           | True                   |
| KLM104           | True                   |
| DAH1426          | True                   |
| AFR805           | True                   |
| BAW2041          | True                   |
| AFR722           | True                   |
| TOM469           | True                   |
| CFG2288          | True                   |
| RWD700           | True                   |
| BAW43            | True                   |
| SWR283           | True                   |
| OCN143           | True                   |
| BAW74            | True                   |
| RYR9729          | True                   |
| BEL37K           | True                   |
| DLH1317          | True                   |
| TAR634           | True                   |
| TOM529           | True                   |
| TAR635           | True                   |
| KLM119           | True                   |
| DAH1144          | True                   |
| BAW59            | True                   |
| KQA102           | True                   |
| DLH577           | True                   |
| VJT569           | True                   |
| TVF31BA          | True                   |
| TVF8707          | True                   |
| KLM129           | True                   |
| BEL38K           | True                   |
| RRR4618          | True                   |
| DAH1122          | True                   |
| SVW78AM          | True                   |
| TVF7220          | True                   |
| VOE68DL          | True                   |
| ARG1140          | True                   |
| N66ZG            | True                   |
| RYR49LK          | True                   |
| MODES_3407259    | True                   |
| DAH1123          | True                   |
| TVF7221          | True                   |
| OCN142           | True                   |
| BEL23B           | True                   |
| KQA112           | True                   |
| BEL4KE           | True                   |
| KQA100           | True                   |
| VIR478           | True                   |
| BEL4UR           | True                   |
| RWD701           | True                   |

In [461]:
df_pln_fr['frontiere_algerienne'].value_counts()

frontiere_algerienne
False    27477
True        90
Name: count, dtype: int64

In [462]:
# Filtrer les premiers points de chaque trajectoire
premiers_points = df_plot_fr[df_plot_fr['SYST_POINT_ID'] == 1]

# Convertir les secondes en heures et minutes
premiers_points['premier_plot'] = pd.to_datetime(premiers_points['TIME'], unit='s').dt.strftime('%H%M')

# Fusionner avec df_pln_fr pour ajouter la colonne
df_pln_fr = df_pln_fr.merge(premiers_points[['SYST_TRAJ_ID', 'premier_plot']], on='SYST_TRAJ_ID', how='left')

C:\Users\latti\AppData\Local\Temp\ipykernel_15664\4027236748.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [463]:
df_pln_fr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27567 entries, 0 to 27566
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SYST_TRAJ_ID          27567 non-null  int64
 1   FLPL_CALL_SIGN        27567 non-null  object
 2   FLPL_NUMB             15545 non-null  float64
 3   FLPL_AIRC_TYPE        15356 non-null  object
 4   REQS_FLGT_LEVL        0 non-null      float64
 5   FLPL_DEPR_AIRP        15403 non-null  object
 6   FLPL_ARRV_AIRP        15403 non-null  object
 7   TRANSIT               0 non-null      float64
 8   MODES_ADRESS          25051 non-null  float64
 9   FILE_DATE             27567 non-null  int64
 10  frontiere_algerienne  27567 non-null  bool
 11  premier_plot          27567 non-null  object
dtypes: bool(1), float64(4), int64(2), object(5)
memory usage: 2.3+ MB

In [464]:
print(str(dominant_date)[2:])

240321

In [465]:
liste_noms_colonnes = ['Origin of message','Flight date','Sequence number','Time of departure/entry','Departure aerodrome','Arrival aerodrome','Type of aircraft','Flight identification','Aircraft Registration','User ICAO Code','User Number','VAT Number','User Nationality','Correction Code','IFPLID','24-bit Aircraft Address','Source of the Aircraft Address','Main Exemption Code','1st Supp. Ex. Code','2nd Supp. Ex. Code','3rd Supp. Ex. Code','Flight Message ID','Claim Number','Pro forma number','Pro forma line number','Bill or Credit Note Reference','MTOW','Weight Coefficient','Distance Coefficient','Service Units','National Route Charge in BZ','Admin. Route Charge in BZ','National Route Charge for SP','Admin. Route Charge for SP','Exemption Indicator','Exemption Code','Flight category','VAT Doc. Ref.','Original VAT Doc. Ref','VAT Rate','VAT Code','VAT on National Route Charge for SP','VAT on Admin. Route Charge for SP']

df_abacus = pd.read_csv('LF20LF10%S%ABACUS_FLSPBZ03_2403.TXT',sep=';', usecols = liste_noms_colonnes, low_memory=False)

In [466]:
df_abacus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253940 entries, 0 to 253939
Data columns (total 43 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   Origin of message                    253940 non-null  object
 1   Flight date                          253940 non-null  int64
 2   Sequence number                      253940 non-null  int64
 3   Time of departure/entry              253940 non-null  int64
 4   Departure aerodrome                  253940 non-null  object
 5   Arrival aerodrome                    253940 non-null  object
 6   Type of aircraft                     253940 non-null  object
 7   Flight identification                253940 non-null  object
 8   User ICAO Code                       243911 non-null  object
 9   User Number                          253940 non-null  int64
 10  VAT Number                           240860 non-null  object
 11  User Nationality                     253940 non-null  object
 12  Correction Code                      253928 non-null  float64
 13  IFPLID                               252590 non-null  object
 14  24-bit Aircraft Address              186149 non-null  object
 15  Source of the Aircraft Address       186154 non-null  float64
 16  Main Exemption Code                  253940 non-null  object
 17  1st Supp. Ex. Code                   34 non-null      object
 18  2nd Supp. Ex. Code                   0 non-null       float64
 19  3rd Supp. Ex. Code                   0 non-null       float64
 20  Flight Message ID                    253940 non-null  int64
 21  Pro forma number                     253940 non-null  int64
 22  Pro forma line number                253940 non-null  int64
 23  Bill or Credit Note Reference        253928 non-null  object
 24  Aircraft Registration                253876 non-null  object
 25  MTOW                                 253940 non-null  object
 26  Weight Coefficient                   253940 non-null  object
 27  Distance Coefficient                 253940 non-null  object
 28  Service Units                        253940 non-null  object
 29  National Route Charge in BZ          253940 non-null  object
 30  Admin. Route Charge in BZ            253940 non-null  object
 31  National Route Charge for SP         253940 non-null  object
 32  Admin. Route Charge for SP           253940 non-null  object
 33  Exemption Indicator                  253928 non-null  float64
 34  Exemption Code                       10480 non-null   object
 35  Flight category                      253928 non-null  float64
 36  VAT Doc. Ref.                        0 non-null       float64
 37  Original VAT Doc. Ref                0 non-null       float64
 38  VAT Rate                             253940 non-null  object
 39  VAT Code                             0 non-null       float64
 40  VAT on National Route Charge for SP  253940 non-null  object
 41  VAT on Admin. Route Charge for SP    253940 non-null  object
 42  Claim Number                         106 non-null     float64
dtypes: float64(10), int64(7), object(26)
memory usage: 83.3+ MB

In [467]:
date_etude = str(dominant_date)[2:]

In [468]:
df_abacus = df_abacus[(df_abacus["Flight date"] == int(date_etude)) & (df_abacus["Origin of message"] == "LF")]

In [469]:
df_abacus.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2456 entries, 1664 to 253690
Data columns (total 43 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Origin of message                    2456 non-null   object
 1   Flight date                          2456 non-null   int64
 2   Sequence number                      2456 non-null   int64
 3   Time of departure/entry              2456 non-null   int64
 4   Departure aerodrome                  2456 non-null   object
 5   Arrival aerodrome                    2456 non-null   object
 6   Type of aircraft                     2456 non-null   object
 7   Flight identification                2456 non-null   object
 8   User ICAO Code                       2196 non-null   object
 9   User Number                          2456 non-null   int64
 10  VAT Number                           2097 non-null   object
 11  User Nationality                     2456 non-null   object
 12  Correction Code                      2456 non-null   float64
 13  IFPLID                               2424 non-null   object
 14  24-bit Aircraft Address              2374 non-null   object
 15  Source of the Aircraft Address       2374 non-null   float64
 16  Main Exemption Code                  2456 non-null   object
 17  1st Supp. Ex. Code                   0 non-null      object
 18  2nd Supp. Ex. Code                   0 non-null      float64
 19  3rd Supp. Ex. Code                   0 non-null      float64
 20  Flight Message ID                    2456 non-null   int64
 21  Pro forma number                     2456 non-null   int64
 22  Pro forma line number                2456 non-null   int64
 23  Bill or Credit Note Reference        2456 non-null   object
 24  Aircraft Registration                2456 non-null   object
 25  MTOW                                 2456 non-null   object
 26  Weight Coefficient                   2456 non-null   object
 27  Distance Coefficient                 2456 non-null   object
 28  Service Units                        2456 non-null   object
 29  National Route Charge in BZ          2456 non-null   object
 30  Admin. Route Charge in BZ            2456 non-null   object
 31  National Route Charge for SP         2456 non-null   object
 32  Admin. Route Charge for SP           2456 non-null   object
 33  Exemption Indicator                  2456 non-null   float64
 34  Exemption Code                       417 non-null    object
 35  Flight category                      2456 non-null   float64
 36  VAT Doc. Ref.                        0 non-null      float64
 37  Original VAT Doc. Ref                0 non-null      float64
 38  VAT Rate                             2456 non-null   object
 39  VAT Code                             0 non-null      float64
 40  VAT on National Route Charge for SP  2456 non-null   object
 41  VAT on Admin. Route Charge for SP    2456 non-null   object
 42  Claim Number                         0 non-null      float64
dtypes: float64(10), int64(7), object(26)
memory usage: 844.2+ KB

In [470]:
df_abacus_alg = df_abacus[
    (~df_abacus['Departure aerodrome'].astype(str).str[:2].isin(['LF']))
]

In [471]:
df_abacus_alg

,Origin of message,Flight date,Sequence number,Time of departure/entry,Departure aerodrome,Arrival aerodrome,Type of aircraft,Flight identification,User ICAO Code,User Number,...,Exemption Indicator,Exemption Code,Flight category,VAT Doc. Ref.,Original VAT Doc. Ref,VAT Rate,VAT Code,VAT on National Route Charge for SP,VAT on Admin. Route Charge for SP,Claim Number
5563,LF,240321,878,810,DABC,LFSB,B738,DAH1170,DAH,186,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
5566,LF,240321,876,905,DABB,LFLL,B738,DAH1156,DAH,186,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
5571,LF,240321,871,1041,DAAE,LFPO,B738,DAH1112,DAH,186,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
5583,LF,240321,884,1326,DAAG,ZBAA,A332,DAH3060,DAH,186,...,0.0,NaN,1.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
5589,LF,240321,873,1443,DABC,LFPG,B738,DAH1118,DAH,186,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
5592,LF,240321,882,1455,DABB,LFPG,B738,DAH1544,DAH,186,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
20849,LF,240321,529,449,FAOR,LFPG,B77W,AFR995,AFR,227,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
39330,LF,240321,618,234,FACT,EGLL,A35K,BAW58L,BAW,590,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
39331,LF,240321,620,251,HKJK,EGLL,A35K,BAW64M,BAW,590,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
39332,LF,240321,617,309,FAOR,EGLL,A388,BAW56,BAW,590,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
39336,LF,240321,616,540,FAOR,EGLL,B789,BAW54,BAW,590,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
39428,LF,240321,625,1226,DNAA,EGLL,B772,BAW82,BAW,590,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
44325,LF,240321,649,252,FKYS,EBBR,A333,BEL39G,BEL,908,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
44326,LF,240321,654,307,DFFD,EBBR,A333,BEL6AD,BEL,908,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
44327,LF,240321,651,402,HUEN,EBBR,A333,BEL4BE,BEL,908,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
44329,LF,240321,648,447,FZAA,EBBR,A333,BEL38K,BEL,908,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
60080,LF,240321,1728,338,HUEN,EHAM,A332,KLM536,KLM,1640,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
60101,LF,240321,1731,742,FAOR,EHAM,B77W,KLM592,KLM,1640,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
60104,LF,240321,1709,812,FACT,EHAM,B77W,KLM104,KLM,1640,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
65976,LF,240321,937,237,FAOR,EDDF,B748,DLH573,DLH,1776,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
65977,LF,240321,938,258,FACT,EDDF,A343,DLH577,DLH,1776,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
65978,LF,240321,936,325,DNMM,EDDF,A343,DLH569,DLH,1776,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
65979,LF,240321,935,417,FNLU,EDDF,A333,DLH561,DLH,1776,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
66011,LF,240321,933,717,SBGR,EDDF,B748,DLH507,DLH,1776,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
66026,LF,240321,934,831,SAEZ,EDDF,B748,DLH511,DLH,1776,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
66075,LF,240321,916,1229,DAAG,EDDF,A319,DLH1317,DLH,1776,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
83620,LF,240321,2125,832,DTTJ,LFPO,A320,TAR634,TAR,2752,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
83638,LF,240321,2127,2131,DTTJ,LFML,A320,TAR694,TAR,2752,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
86064,LF,240321,2170,1859,DAAG,LIMC,A332,THY6397,THY,2758,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
93474,LF,240321,1740,528,HKJK,LFPG,B788,KQA112,KQA,3735,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
93475,LF,240321,1739,718,HKJK,EGLL,B788,KQA102,KQA,3735,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
97054,LF,240321,982,738,FACT,LSZH,A343,EDW87,EDW,6101,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
97652,LF,240321,785,538,GABS,LFPO,A333,CRL870,CRL,6369,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
101827,LF,240321,2322,256,FAOR,EGLL,B789,VIR450,VIR,8142,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
123247,LF,240321,1992,1914,GMMX,LIRN,B738,RYR49LK,RYR,8651,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
163952,LF,240321,2077,346,FAOR,LSZH,B77W,SWR283,SWR,28494,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
188598,LF,240321,2294,1003,DTTJ,LFLL,B738,TVF8557,TVF,32673,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
188615,LF,240321,2289,1219,DTTJ,LFPO,B738,TVF8393,TVF,32673,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
188648,LF,240321,2268,1621,DAAE,LFPO,B738,TVF7289,TVF,32673,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
193933,LF,240321,687,126,DRZA,ETAR,C17,BRK80,BRK,35863,...,1.0,M,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
195350,LF,240321,628,2051,DNMM,EBBR,A306,BCS082,BCS,36121,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
196530,LF,240321,1957,614,HRYR,LFPG,A333,RWD700,RWD,36748,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
201595,LF,240321,1707,1215,DNAA,LSGG,GLEX,KFE908,KFE,38571,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
201598,LF,240321,1706,2158,FCBB,LFPB,FA8X,KFE812,KFE,38571,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
234905,LF,240321,756,240,FACT,EDDF,A339,CFG2291,CFG,46951,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
238728,LF,240321,1891,237,FYWH,EDDF,A333,OCN139,OCN,48305,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
238729,LF,240321,1890,303,FYWH,EDDF,A332,OCN133C,OCN,48305,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
241021,LF,240321,1658,359,SAEZ,LIRF,A359,ITY681,ITY,48643,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
241022,LF,240321,1655,422,SBGL,LIRF,A339,ITY673,ITY,48643,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
241024,LF,240321,1656,448,SBGR,LIRF,A339,ITY675,ITY,48643,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
241046,LF,240321,1657,923,SBGR,LIRF,A359,ITY679,ITY,48643,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
241085,LF,240321,1659,1716,DAAG,LIRF,A20N,ITY801,ITY,48643,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN
247346,LF,240321,1799,602,FKYS,LFML,GLEX,N599CE,NaN,49554,...,0.0,NaN,0.0,NaN,NaN,"00,00",NaN,"00000,00","0000,00",NaN

In [472]:
# Fusionner les DataFrames sur les colonnes correspondantes
merged_df = filtered_df.merge(df_abacus_alg, left_on='FLPL_CALL_SIGN', right_on='Flight identification', how='outer', indicator=True)

# Filtrer les lignes où il n'y a pas de correspondance
no_match_df = merged_df[merged_df['_merge'] != 'both']

print(no_match_df)

     SYST_TRAJ_ID FLPL_CALL_SIGN  FLPL_NUMB FLPL_AIRC_TYPE  REQS_FLGT_LEVL  \
0    2.024032e+14        NOS4455   660370.0           B38M             NaN
1    2.024032e+14        TVF8098   632885.0           B738             NaN
2    2.024032e+14         BEL3DY   599404.0           A333             NaN
3    2.024032e+14        TVF63YU   632317.0           B738             NaN
5    2.024032e+14         THY5LY   690332.0           B738             NaN
..            ...            ...        ...            ...             ...
98            NaN            NaN        NaN            NaN             NaN
99            NaN            NaN        NaN            NaN             NaN
100           NaN            NaN        NaN            NaN             NaN
101           NaN            NaN        NaN            NaN             NaN
102           NaN            NaN        NaN            NaN             NaN

    FLPL_DEPR_AIRP FLPL_ARRV_AIRP  TRANSIT  MODES_ADRESS   FILE_DATE  ...  \
0             GOBD           LIPX      NaN     5024822.0  20240322.0  ...
1             LFPO           DTTX      NaN     3788452.0  20240322.0  ...
2             FKYS           EBBR      NaN     4508868.0  20240322.0  ...
3             LFPO           DAUB      NaN     3788459.0  20240322.0  ...
5             DAAG           LTFM      NaN     4958926.0  20240322.0  ...
..             ...            ...      ...           ...         ...  ...
98             NaN            NaN      NaN           NaN         NaN  ...
99             NaN            NaN      NaN           NaN         NaN  ...
100            NaN            NaN      NaN           NaN         NaN  ...
101            NaN            NaN      NaN           NaN         NaN  ...
102            NaN            NaN      NaN           NaN         NaN  ...

    Exemption Code Flight category  VAT Doc. Ref.  Original VAT Doc. Ref  \
0              NaN             NaN            NaN                    NaN
1              NaN             NaN            NaN                    NaN
2              NaN             NaN            NaN                    NaN
3              NaN             NaN            NaN                    NaN
5              NaN             NaN            NaN                    NaN
..             ...             ...            ...                    ...
98             NaN             0.0            NaN                    NaN
99             NaN             0.0            NaN                    NaN
100            NaN             0.0            NaN                    NaN
101            NaN             0.0            NaN                    NaN
102            NaN             0.0            NaN                    NaN

     VAT Rate VAT Code VAT on National Route Charge for SP  \
0         NaN      NaN                                 NaN
1         NaN      NaN                                 NaN
2         NaN      NaN                                 NaN
3         NaN      NaN                                 NaN
5         NaN      NaN                                 NaN
..        ...      ...                                 ...
98      00,00      NaN                            00000,00
99      00,00      NaN                            00000,00
100     00,00      NaN                            00000,00
101     00,00      NaN                            00000,00
102     00,00      NaN                            00000,00

    VAT on Admin. Route Charge for SP Claim Number      _merge
0                                 NaN          NaN   left_only
1                                 NaN          NaN   left_only
2                                 NaN          NaN   left_only
3                                 NaN          NaN   left_only
5                                 NaN          NaN   left_only
..                                ...          ...         ...
98                            0000,00          NaN  right_only
99                            0000,00          NaN  right_only
100                           0000,00          NaN  right_only
101                           0000,00          NaN  right_only
102                           0000,00          NaN  right_only

[87 rows x 55 columns]

In [473]:
no_match_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87 entries, 0 to 102
Data columns (total 55 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   SYST_TRAJ_ID                         50 non-null     float64
 1   FLPL_CALL_SIGN                       50 non-null     object
 2   FLPL_NUMB                            47 non-null     float64
 3   FLPL_AIRC_TYPE                       47 non-null     object
 4   REQS_FLGT_LEVL                       0 non-null      float64
 5   FLPL_DEPR_AIRP                       47 non-null     object
 6   FLPL_ARRV_AIRP                       47 non-null     object
 7   TRANSIT                              0 non-null      float64
 8   MODES_ADRESS                         50 non-null     float64
 9   FILE_DATE                            50 non-null     float64
 10  frontiere_algerienne                 50 non-null     object
 11  Origin of message                    37 non-null     object
 12  Flight date                          37 non-null     float64
 13  Sequence number                      37 non-null     float64
 14  Time of departure/entry              37 non-null     float64
 15  Departure aerodrome                  37 non-null     object
 16  Arrival aerodrome                    37 non-null     object
 17  Type of aircraft                     37 non-null     object
 18  Flight identification                37 non-null     object
 19  User ICAO Code                       36 non-null     object
 20  User Number                          37 non-null     float64
 21  VAT Number                           35 non-null     object
 22  User Nationality                     37 non-null     object
 23  Correction Code                      37 non-null     float64
 24  IFPLID                               37 non-null     object
 25  24-bit Aircraft Address              21 non-null     object
 26  Source of the Aircraft Address       21 non-null     float64
 27  Main Exemption Code                  37 non-null     object
 28  1st Supp. Ex. Code                   0 non-null      object
 29  2nd Supp. Ex. Code                   0 non-null      float64
 30  3rd Supp. Ex. Code                   0 non-null      float64
 31  Flight Message ID                    37 non-null     float64
 32  Pro forma number                     37 non-null     float64
 33  Pro forma line number                37 non-null     float64
 34  Bill or Credit Note Reference        37 non-null     object
 35  Aircraft Registration                37 non-null     object
 36  MTOW                                 37 non-null     object
 37  Weight Coefficient                   37 non-null     object
 38  Distance Coefficient                 37 non-null     object
 39  Service Units                        37 non-null     object
 40  National Route Charge in BZ          37 non-null     object
 41  Admin. Route Charge in BZ            37 non-null     object
 42  National Route Charge for SP         37 non-null     object
 43  Admin. Route Charge for SP           37 non-null     object
 44  Exemption Indicator                  37 non-null     float64
 45  Exemption Code                       1 non-null      object
 46  Flight category                      37 non-null     float64
 47  VAT Doc. Ref.                        0 non-null      float64
 48  Original VAT Doc. Ref                0 non-null      float64
 49  VAT Rate                             37 non-null     object
 50  VAT Code                             0 non-null      float64
 51  VAT on National Route Charge for SP  37 non-null     object
 52  VAT on Admin. Route Charge for SP    37 non-null     object
 53  Claim Number                         0 non-null      float64
 54  _merge                               87 non-null     category
dtypes: category(1), float64(23), object(31)
memory usage: 37.6+ KB

In [474]:
no_match_df[['Flight date','FLPL_CALL_SIGN','Flight identification','FLPL_AIRC_TYPE','FLPL_DEPR_AIRP','Type of aircraft','Departure aerodrome','MODES_ADRESS']]

,Flight date,FLPL_CALL_SIGN,Flight identification,FLPL_AIRC_TYPE,FLPL_DEPR_AIRP,Type of aircraft,Departure aerodrome,MODES_ADRESS
0,NaN,NOS4455,NaN,B38M,GOBD,NaN,NaN,5024822.0
1,NaN,TVF8098,NaN,B738,LFPO,NaN,NaN,3788452.0
2,NaN,BEL3DY,NaN,A333,FKYS,NaN,NaN,4508868.0
3,NaN,TVF63YU,NaN,B738,LFPO,NaN,NaN,3788459.0
5,NaN,THY5LY,NaN,B738,DAAG,NaN,NaN,4958926.0
...,...,...,...,...,...,...,...,...
98,240321.0,NaN,ITY673,NaN,NaN,A339,SBGL,NaN
99,240321.0,NaN,ITY675,NaN,NaN,A339,SBGR,NaN
100,240321.0,NaN,ITY679,NaN,NaN,A359,SBGR,NaN
101,240321.0,NaN,ITY801,NaN,NaN,A20N,DAAG,NaN
102,240321.0,NaN,N599CE,NaN,NaN,GLEX,FKYS,NaN

In [475]:
df_pln_fr[df_pln_fr['FLPL_CALL_SIGN']=='DAH1070']

,SYST_TRAJ_ID,FLPL_CALL_SIGN,FLPL_NUMB,FLPL_AIRC_TYPE,REQS_FLGT_LEVL,FLPL_DEPR_AIRP,FLPL_ARRV_AIRP,TRANSIT,MODES_ADRESS,FILE_DATE,frontiere_algerienne,premier_plot
7608,202403220004090,DAH1070,637126.0,B738,NaN,DAAG,LFMT,NaN,655482.0,20240322,False,0822

In [476]:
# Extraire la date dominante
dominant_date = df_pln_fr['FILE_DATE'].mode()[0]

# Créer le nom du fichier
file_name = f"data_survols_{dominant_date}.csv"

# Enregistrer le DataFrame dans un fichier CSV
df_pln_fr.to_csv(file_name, index=False)

print(f"DataFrame enregistré dans le fichier {file_name}")

DataFrame enregistré dans le fichier data_survols_20240322.csv